[submodule "imageuploadapi"]
	path = imageuploadapi
	url = git@github.com:PedroBicudo/imageuploadapi.git
	branch = main
[submodule "imageuploadfrontend"]
	path = imageuploadfrontend
	url = git@github.com:PedroBicudo/imageuploadfrontend.git
	branch = main
